@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Variable.ttf");
  font-weight: 100 900;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  margin: 0;

  font-family: "General Sans", system-ui, sans-serif;
  font-weight: 500;

  @apply text-primary fill-dimmed bg-bg-dimmed text-[0.925rem];
}

@layer components {
  .animated-underline {
    @apply relative;
  }

  .animated-underline::after {
    content: "";
    transform: scaleX(0%);
    transform-origin: left center;
    @apply block w-full absolute h-[2px] bg-primary transition-all duration-300;
  }

  .animated-underline-active::after {
    transform: scaleX(100%);
  }
}

@layer utilities {
  .no-link {
    @apply no-underline text-current;
  }

  .clamp-text {
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
  }

  .position-center {
    @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

