.apexcharts-tooltip {
  border-color: rgb(var(--colors-bg-dimmed)) !important;
  background: rgb(var(--colors-bg)) !important;
}

.apexcharts-tooltip-title, .apexcharts-menu, .apexcharts-xaxistooltip {
  border-color: rgb(var(--colors-bg-dimmed)) !important;
  color: rgb(var(--colors-primary)) !important;
  background: rgb(var(--colors-bg)) !important;
}

.apexcharts-tooltip-series-group {
  color: rgb(var(--colors-primary));
}

.apexcharts-gridline {
  stroke: rgb(var(--colors-bg-dimmed));
}
