/* fix mantine stuff */

.mantine-Text-root {
  font-weight: 500;
  font-size: unset;
}

.mantine-Timeline-itemBullet {
  background: rgb(var(--colors-bg));
}

button {
  background: transparent;
}

button:hover {
  cursor: pointer;
}

